# ========================
# CCS / Eclipse 自动生成
# ========================
Debug/
Release/
*/Debug/
*/Release/

.launches/
.settings/
.metadata/

# ========================
# 编译中间文件 & 输出
# ========================
*.out
*.map
*.obj
*.d
*.hex
*.bin
*.xml
*.log

# ========================
# SysConfig / 自动生成
# ========================
*.syscfg-generated/

# ========================
# 系统文件
# ========================
.DS_Store
Thumbs.db
